SQLITE_DATABASE_PATH=db.sqlite
RP_ID=localhost
RP_ORIGIN=http://localhost:8080
RP_DISPLAY_NAME=Vapor Passkey Demo
APN_HANDLE_SECRET=
APN_KEY_ID=
APN_TEAM_ID=
APN_PRIVATE_KEY_PATH=
APN_PRIVATE_KEY_PEM=
APPLE_APP_IDENTIFIER=com.example.app
