name: Run Tests

on: [push]

jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        swift: ["6.1.2"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v5
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
